**timedelta**

**-** a gap or difference in time ‚Äî like 2 days, 5 hours, or 10 minutes

**-** timedelta(days=3, hours=5, minutes=30),This gives: 3 days, 5 hours, and 30 minutes

üëáüëáüëá

In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
products_df=pd.read_csv('products.csv')

products_df.head()

,product_id,product_name,category,cost_price,selling_price,reorder_level
0,1001,Organic Rice,Groceries,1551.26,2296.31,43
1,1002,Olive Oil,Groceries,2516.38,3370.60,39
2,1003,Canned Beans,Groceries,961.25,1117.36,30
3,1004,Pasta,Groceries,696.83,1007.94,36
4,1005,Coffee Beans,Groceries,2163.01,2991.94,27

In [3]:
sales_df=pd.read_csv('sales.csv')

sales_df.head()

   product_id  quantity_sold   sale_date    location   discount
0        1013              4  2024-09-02    Rajshahi  52.178882
1        1064              9  2024-02-25      Sylhet  52.059982
2        1011              2  2024-02-07       Dhaka   7.370982
3        1019              2  2024-09-01      Sylhet  51.219448
4        1011              9  2024-01-21  Chittagong  82.274403

**1.pd.to_datetime(sales_df['sale_date'])**
**-** This converts the 'sale_date' column to datetime format ‚Äî so that Python understands it as a real date, not just plain text or string.

Why-It lets you do date-based operations like sorting by date, filtering by year/month.'2024-09-02' ‚Üí datetime object ‚Üí 2024-09-02 00:00:00

**2. .dt.date**
**-** This part removes the time part and keeps only the date (like 2024-09-02 instead of 2024-09-02 00:00:00).

**-** this line makes sure that:

1.sale_date is a real date, not a string

2.Only the date part (not time) is stored in the column

**-** Without .dt.date, your column would still include time is time is given in data



üëáüëáüëá

In [4]:
sales_df['sale_date']=pd.to_datetime(sales_df['sale_date']).dt.date
sales_df.head()

   product_id  quantity_sold   sale_date    location   discount
0        1013              4  2024-09-02    Rajshahi  52.178882
1        1064              9  2024-02-25      Sylhet  52.059982
2        1011              2  2024-02-07       Dhaka   7.370982
3        1019              2  2024-09-01      Sylhet  51.219448
4        1011              9  2024-01-21  Chittagong  82.274403

In [5]:
from datetime import datetime

date1 = datetime.strptime('2024-09-01', '%Y-%m-%d').date()
date2 = datetime.strptime('2024-09-03', '%Y-%m-%d').date()
date = sales_df.iloc[0]['sale_date']

date1 <= date <= date2

True

In [6]:
purchases_df=pd.read_csv('purchases.csv')

purchases_df.head()

   product_id  quantity_purchased purchase_date
0        1095                  94    2024-08-19
1        1054                  23    2024-08-16
2        1058                  64    2024-12-18
3        1067                  57    2024-06-12
4        1046                  91    2024-03-13

In [7]:
purchases_df['purchase_date']=pd.to_datetime(purchases_df['purchase_date']).dt.date
purchases_df.head()

   product_id  quantity_purchased purchase_date
0        1095                  94    2024-08-19
1        1054                  23    2024-08-16
2        1058                  64    2024-12-18
3        1067                  57    2024-06-12
4        1046                  91    2024-03-13

# Step 1.Compute Current stock

In [8]:
product_id = 1095
purchases_df[purchases_df['product_id'] == product_id]

     product_id  quantity_purchased purchase_date
0          1095                  94    2024-08-19
140        1095                  66    2024-01-25
176        1095                  16    2024-07-08
238        1095                  27    2024-08-19
259        1095                  72    2024-08-19
423        1095                  85    2024-08-21
447        1095                  11    2024-10-19
513        1095                  72    2024-03-18
637        1095                  33    2024-04-07
646        1095                  60    2024-03-06
711        1095                  66    2024-09-19
817        1095                  79    2024-04-26

In [9]:
#quantity of purchased
quantity_purchased=purchases_df[purchases_df['product_id'] == product_id]['quantity_purchased'].sum()
quantity_purchased

681

In [10]:
#quantity of sold
quantity_sold=sales_df[sales_df['product_id']==product_id]['quantity_sold'].sum()
quantity_sold

205

In [11]:
#purchased-sold=current stock
current_stock=quantity_purchased-quantity_sold
current_stock

476

In [12]:
#If we use a function, we don‚Äôt need to manually calculate for each product 
def get_current_stock(sales_df, purchases_df, product_id):
    quantity_purchased=purchases_df[purchases_df['product_id'] == product_id]['quantity_purchased'].sum()
    quantity_sold=sales_df[sales_df['product_id']==product_id]['quantity_sold'].sum()
    current_stock=quantity_purchased-quantity_sold
    return current_stock
print(get_current_stock(product_id))

TypeError: get_current_stock() missing 2 required positional arguments: 'purchases_df' and 'product_id'

| Code Part                            | Meaning                                                                                                                                                                                                                                                                                                                       |
| ------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **products\_df\['product\_id']**          | Take the list of all product IDs from the table                                                                                                                                                                                                                                                                               |
| **.apply(...)**                          | Run a function on every value in a **each product ID**. <br><br>**When we say:** .apply(lambda product\_id: get\_current\_stock(product\_id)) <br><br>**We are telling Python:** Take each product\_id, send it to the get\_current\_stock() function, and save the answer.                                                 |
| **lambda product\_id: ...**               | Create a small function (just for now) .This is a temporary function used only once ‚Äî to **calculate stock from product IDs** ‚Äî so there‚Äôs no need to write a full def function for it. We‚Äôre creating this function temporarily, only to use inside **.apply()**, and then forget it.**we don‚Äôt want to define it separately using def** |
| **get\_current\_stock(product\_id)**      | Use your own function to calculate stock for that product |
| **products\_df\['current\_stock'] =**   | Save the result in a new column named `current_stock`|

üëáüëáüëá

In [ ]:
#after calculating current stock of every product id, add this current stock in products_df dataset
products_df['current_stock']=products_df['product_id'].apply(lambda product_id:get_current_stock(product_id))
products_df

# 2.compute profit per product

**.iloc[0] means:**
"Get the first row of the result."

More precisely:

**-**.iloc stands for ‚Äúinteger location‚Äù

**-** iloc[0] gets the first row (row at index 0)

**-** If that row has just one value, you can use it as a single number or string

In [ ]:
def get_profit(products_df, sales_df, product_id):
  quantity_sold=sales_df[sales_df['product_id']==product_id]['quantity_sold'].sum()
  product=products_df[products_df['product_id']==product_id]
  profit_per_sale=product['selling_price']-product['cost_price']
  profit_per_sale=profit_per_sale.iloc[0]
  total_profit=profit_per_sale * quantity_sold
  return total_profit

products_df['profit']=products_df['product_id'].apply(lambda product_id:get_profit(product_id))

products_df.head()

# 3.Find the slow moving product

Identify products that have low sales or low inventory turnover over a certain period of time.

**Slow-moving products are items in your product list or inventory that:**

**-** Sell infrequently or slowly

**-** Stay in stock for a long time

**-** Are not popular or in high demand

**Why it's useful:**

**-** Helps in inventory optimization

**-** Guides marketing strategies for underperforming items

**-** Reduces stock holding costs

In [ ]:
#Slow-moving products are those which sales < 40 during last 90 days
#strptime():String Parse Time.It parses a string into a datetime object using a specified format.
#Takes the string '2024-12-31' (a date in text format)
#Converts it to a datetime object using the format 'Year-Month-Day'
#Then .date() removes the time part and gives you just the date. Result: start_date = 2024-12-31
from datetime import datetime
start_date=datetime.strptime('2024-12-31','%Y-%m-%d').date()

#cutoff_date:Show only records from the last 90 days
cutoff_date = start_date - timedelta(days=90) 
print(cutoff_date) 
sales_df.head()

In [ ]:
def is_slow_moving(sales_df, product_id):
    start_date=datetime.strptime('2024-12-31','%Y-%m-%d').date()
    cutoff_date = start_date - timedelta(days=90) 
    last_90_days_sales=sales_df[(sales_df['product_id'] == product_id) & (sales_df['sale_date'] >= cutoff_date)] #From the sales data, give me all rows where the product ID is what I‚Äôm looking for, and the sale date is not older than 90 days
    total_recent_sales = last_90_days_sales['quantity_sold'].sum()
    return total_recent_sales < 40 # if total recent sale in 90 days less that 40 then add this in as slow_moving item
products_df['slow_moving'] = products_df['product_id'].apply(is_slow_moving)
products_df.head()

In [ ]:
#count the value how much slow moving cell are their
products_df['slow_moving'].value_counts()

# 4. Flag overstocked and understocked products

‚úÖ Identify which products in your inventory have too much stock or too little stock, and mark/label them so action can be taken.

**üì¶ What does it mean practically?**
In inventory or sales data:

Overstocked = You have more inventory than needed ‚Üí taking up space, increasing storage cost.

Understocked = You have less inventory than needed ‚Üí might run out, miss customer orders.

**üè∑Ô∏è What does ‚Äúflag‚Äù mean?**

Mark or label something with a status like:

**Overstocked**

**Understocked**

**Normal**

In [ ]:
def get_stock_status(products_df, product_id):
    product = products_df[products_df['product_id']== product_id].iloc[0]
    stock = product['current_stock']
    reorder = product['reorder_level']
    if stock < reorder * 15: return 'Understocked' #If stock is less than 15 times the reorder level, mark as understocked
    return 'Properly Stocked'
    
products_df['stock_status'] = products_df['product_id'].apply(get_stock_status)
products_df.head()

In [ ]:
products_df['stock_status'].value_counts()

# 5. Get Reveneu per product

Money earned from selling a product (before subtracting any costs).

**Revenue = Selling Price √ó Quantity Sold**

In [ ]:
def get_revenue(products_df, sales_df, product_id):
    selling_price = products_df[products_df['product_id'] == product_id]['selling_price'].iloc[0]
    quantity_sold = sales_df[sales_df['product_id'] == product_id]['quantity_sold'].sum()
    revenue = selling_price * quantity_sold
    return revenue

# 6. Queries business data

Asking questions to your data to get specific answers that help in making business decisions.like -**Sales,category,Customers,Profits,Inventory,location,Revenue,Orders,Employee performance**

In [ ]:
#This function filters the sales_df DataFrame and returns only the sales that: -Happened within a specific date range
                                                                              #-Took place in specific locations

def get_sales_between_dates(sales_df, start_date, end_date, locations):
    return sales_df[(sales_df['sale_date'] >= start_date)& (sales_df['sale_date'] <= end_date)& (sales_df['location'].isin(locations))] 
    #Give me all sales from specific dates and specific locations.

In [ ]:
products_df['category'].value_counts()

In [ ]:
def get_products_of_selected_categories(products_df, categories):
    return products_df[products_df['category'].isin(categories)]

In [ ]:
def get_under_stocked_products(products_df):
    return products_df[products_df['stock_status'] == 'Understocked']

 # 6.KPIs
 **KPI = Key Performance Indicator**.
 A KPI is a measurable value that shows how well a business, team, or process is performing against a specific goal.

In a business dashboard, KPIs are shown as important metrics ‚Äî often using cards, gauges, or charts ‚Äî to give quick insights into performance.
Examples of KPIs in a Dashboard:
 | Business Area    | KPI Example                            |
| ---------------- | -------------------------------------- |
| Sales            | üîπ Total Revenue                       |
| Inventory        | üîπ Stock Turnover Rate                 |
| Marketing        | üîπ Conversion Rate                     |
| Customer Service | üîπ Average Response Time               |
| Finance          | üîπ Net Profit Margin                   |
| E-commerce       | üîπ Number of Orders, Cart Abandon Rate |

In [ ]:
def get_summary_Kpis(products_df,sales_df): #The function will return important business summary KPIs (key numbers).
    #alculate revenue
    total_revenue = products_df['product_id'].apply(lambda product_id:get_revenue(products_df, sales_df, product_id)).sum() 
                                                                #For each product ID, it calls a get_revenue(...) function to calculate revenue.
                                                                # .sum() adds up the revenue for all products.
                                                                # total_revenue = total money earned from sales (before subtracting cost).
    total_profit = products_df['profit'].sum()#Adds up the profit in profit column in products_df of all products.
    total_units_sold = sales_df['quantity_sold'].sum()
    total_understocked_products = len(get_under_stocked_products(products_df))#That function returns a list or table of products that are understocked
    return { 
            'Total Revenue (K)': int(total_revenue/1e3),
            'Total Profit (K)': int(total_profit/1e3),
            'Total Units Sold (K)': int(total_units_sold/1e3),
            'Total Understocked Products': total_understocked_products}                                                                      #Then len(...) counts how many such products there are.
                    #Returns all the KPIs in a dictionary ({ key: value })
#1e3 = 1 √ó 10¬≥

#total_revenue / 1e3 = revenue in thousands

#int(...) = remove decimal (round down)

In [ ]:
products_df['category'].unique()

# 7.Filtering and Analysis in KPIs
In a Power BI project, Filtering and Analysis is the first step to generate relevant KPIs
‚úÖ Why Filtering?
Filtering helps to focus on specific data ‚Äî like:

-A certain time period (e.g., Jan‚ÄìDec 2024)

A specific location (e.g., Dhaka)

A certain product category (e.g., Groceries)

üîç Without filtering, you‚Äôd mix all sales from all locations and categories ‚Äî which makes KPIs less meaningful.

‚úÖ Why Analysis?
Once the data is filtered, you analyze it to calculate meaningful metrics ‚Äî i.e., KPIs, such as:

üìà Total Revenue

üí∞ Total Profit

üì¶ Understocked Products

üîÑ Best-selling Products

In [ ]:
# ‚úÖ We define a specific date range (e.g., full year of 2024) 
#    because we want to analyze sales **within that time period** only.
start_date = datetime.strptime('2024-01-01', '%Y-%m-%d').date()
end_date = datetime.strptime('2024-12-31', '%Y-%m-%d').date()

# ‚úÖ We filter by location (e.g., 'Dhaka') 
#    because we may have sales data from multiple cities, 
#    but we are interested in analyzing Dhaka specifically.
selected_locations = ['Dhaka']

# ‚úÖ We filter by product categories (e.g., 'Groceries') 
#    to focus on a specific group of products and ignore unrelated categories like Electronics or Clothing.
selected_categories = ['Groceries']

In [ ]:
#‚úÖFilter the sales data for the selected date range and location(s)(e.g., 'Dhaka') 
#    because we may have sales data from multiple cities, 
#    but we are interested in analyzing Dhaka specifically.
filtered_sales = get_sales_between_dates(sales_df,start_date, end_date,selected_locations)
filtered_sales.head()

In [ ]:
# ‚úÖ We filter by product categories (e.g., 'Groceries') 
#    to focus on a specific group of products and ignore unrelated categories like Electronics or Clothing.

filtered_products = get_products_of_selected_categories(products_df,selected_categories)

filtered_products.head()

In [ ]:
# ‚úÖ We find understocked products 
#    to identify which grocery items have low stock and might run out soon.
#    This is useful for inventory planning and restocking decisions.

understocked_products = get_under_stocked_products( filtered_products)
understocked_products.head()

# Summary KPIs

In [ ]:
get_summary_Kpis(filtered_products,filtered_sales)

In [ ]:
products_df.columns

In [ ]:
sales_df.columns

In [ ]:
purchases_df.columns

# Visualization using Plotly

In [ ]:
import plotly.express as px
top_products = filtered_products.nlargest(10, 'profit')[['product_name', 'profit']]
print(top_products)
plot1 = px.bar(top_products, x='product_name', y='profit', title="Top 10 Products by Profit")

In [ ]:
plot1.show()

In [ ]:
category_profit = filtered_products.groupby('category')['profit'].sum().reset_index()
plot2 = px.pie(category_profit, values='profit', names='category', title="Profit Distribution by Category")
plot2.show()

# Tables

In [ ]:
summary_df = filtered_products[['product_name', 'category', 'current_stock', 'reorder_level', 'profit', 'stock_status']]
summary_df.head()